html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

a:hover{
    text-decoration: none;
}

.hidden{
    display: none !important;
}

/* videoGrid */
.videoGrid{
    display: flex;
    flex-wrap: wrap;
}

.videoGrid .videoGridItem{
    display: flex;
    height: auto;
}

.videoGrid .videoGridItem{
    margin-right: 4px;
    margin-bottom: 24px;
}

.videoGrid .videoGridItem .thumbnail{
    width: 210px;
    height: 118px;
    position: relative;
}

.videoGrid .videoGridItem .thumbnail img{
    width: 100%;
    height: 100%;
}

.videoGrid .videoGridItem .thumbnail .duration{
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 4px;
    color: #fff;
    background-color: rgba(17,17,17,0.7);
    opacity: 0.8;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}

.videoGrid .videoGridItem .details{
    padding-right: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 210px;
}


.videoGrid .videoGridItem .details .title{
    margin: 8px 0;
    max-height: 32px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #212529;
}

.videoGrid .videoGridItem .details .username,
.videoGrid .videoGridItem .details .stats{
    color: rgba(17,17,17,0.7);
    font-size: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pageContainer {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

#mastHeadContainer {
	width: 100%;
	height: 56px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 7px 16px;
	box-sizing: border-box;
	border-bottom: 1px solid #e8e8e8;
	background-color: #fff;
	z-index: 1;
	display: flex;
	align-items: center;
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img{
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent; 
}

#mastHeadContainer .rightIcons{
    height: 100%;
}

#mastHeadContainer button img{
    width: 100%;
}

#mastHeadContainer .logoContainer{
    width: 150px;
}

#mastHeadContainer .logoContainer img{
    height: 25px;
    margin-left: 8px;
}

#mastHeadContainer .searchBarContainer{
    margin: 0 40px;
    flex: 1;
    display: flex;
}

#mastHeadContainer .searchBarContainer form{
    flex: 1;
    display: flex;
}

#mastHeadContainer .searchBarContainer .searchBar{
    flex: 1;
    max-width: 600px;
    color: #111;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 100;
    border: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: none;
    height: 32px;
    box-shadow: #eee 0 1px 2px 0 inset;
}

#mastHeadContainer .searchBarContainer .searchButton{
    height: 32px;
    background-color: #f8f8f8;
    border: 1px solid #3d3d3d;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    width: 65px;
}

#mastHeadContainer .searchBarContainer .searchButton img{
    width: 20px;
    height: 20px;
}

#sideNavContainer {
	width: 240px;
	background-color: #f5f5f5;
	padding-top: 56px;
	position: fixed;
	top: 0;
	bottom: 0;
	display: none;
    flex-direction: column;
}

#mainSectionContainer{
    padding-top: 56px;
    flex: 1;
    display: flex;
}

#mainSectionContainer.leftPadding{
    padding-left: 240px;
}

#mainContentContainer{
    padding: 10px 30px;
    display: flex;
    flex: 1;
    background-color: #fefefe;
    box-sizing: border-box;
}

/* upload.php */
.column{
    flex-grow: 1;
    background-color: #fff;
    min-height: 300px;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
}

/* signIn.php, signUp.php */
.signInContainer,
.signUpContainer{
    background-color: #efefee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInContainer .column,
.signUpContainer .column{
    flex-grow: 0;
    width: 450px;
    padding: 20px 35px;
    max-height: 100%;
    overflow-y: auto;
}

.signInContainer .column .header,
.signUpContainer .column .header{
    padding: 20px 0;

}

.signInContainer .column .header img,
.signUpContainer .column .header img{
    width: 100px;
}

.signInContainer .column .header h3,
.signUpContainer .column .header h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
}

.signInContainer .column .header span,
.signUpContainer .column .header span{
    font-size: 14px;
}

.signInContainer .column .loginForm form,
.signUpContainer .column .loginForm form{
    display: flex;
    flex-direction: column;
}

.signInContainer .column .loginForm form input[type="text"],
.signInContainer .column .loginForm form input[type="password"],
.signUpContainer .column .loginForm form input[type="text"],
.signUpContainer .column .loginForm form input[type="email"],
.signUpContainer .column .loginForm form input[type="password"]{
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #dedede;
}

.signInContainer .column .loginForm form input[type="submit"],
.signUpContainer .column .loginForm form input[type="submit"]{
    background: #4285f4;
    color: #fff;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.signInMessage,
.signUpMessage{
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.errorMessage{
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* watch.php */
.watchLeftColumn{
    flex: 1;
}

.watchLeftColumn .videoPlayer{
    width: 100%;
}

.watchLeftColumn .videoInfo{
    width: 100%;
    padding: 20px 0 8px 0;
}

.watchLeftColumn .videoInfo h1{
    display: block;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.watchLeftColumn .videoInfo .bottomSection{
    display: flex;
}

.watchLeftColumn .videoInfo .bottomSection .viewCount{
    color: rgba(17, 17, 17, 0.6);
    font-size: 16px;
    flex: 1;
}

.watchLeftColumn .videoInfo .bottomSection .controls{
    flex: 1;
    text-align: right;
}

.watchLeftColumn .videoInfo .bottomSection .controls button{
    padding: 0;
    background-color: transparent;
    border: none;
    color: rgba(17,17,17,0.6);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.watchLeftColumn .videoInfo .bottomSection .controls button img{
    height: 20px;
    width: 20px;
    margin: 4px 8px 8px 8px;
}

.watchLeftColumn .secondaryInfo{
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.watchLeftColumn .secondaryInfo .topRow{
    display: flex;
    margin-bottom: 12px;
}

.profilePicture{
    height: 100%;
}

.profilePicture{
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.watchLeftColumn .secondaryInfo .topRow .uploadInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.watchLeftColumn .secondaryInfo .topRow .uploadInfo .owner a{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.watchLeftColumn .secondaryInfo .topRow .uploadInfo .date{
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.watchLeftColumn .secondaryInfo .topRow .editVideoButtonContainer,
.watchLeftColumn .secondaryInfo .topRow .subscribeButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.watchLeftColumn .secondaryInfo .topRow .editVideoButtonContainer .edit{
    background-color: #2692e6;
    color: #fff;
}

.watchLeftColumn .secondaryInfo .topRow .subscribeButtonContainer .subscribe{
    background-color: #f00;
    color: #fff;
}

.watchLeftColumn .secondaryInfo .topRow .subscribeButtonContainer .unsubscribe{
    background-color: #eee;
    color: rgba(17,  17, 17, 0.6);
}

.watchLeftColumn .secondaryInfo .topRow .editVideoButtonContainer .button,
.watchLeftColumn .secondaryInfo .topRow .subscribeButtonContainer .button{
    padding: 6px 15px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    font-size: 14px;
}

.watchLeftColumn .secondaryInfo .descriptionContainer{
    margin-left: 64px;
    max-width: 615px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.watchLeftColumn .commentSection .header{
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.watchLeftColumn .commentSection .header .commentForm,
.itemContainer .commentForm{
    display: flex;
}

.watchLeftColumn .commentSection .header .commentForm .profilePicture,
.watchLeftColumn .commentSection .comment .profilePicture,
.watchLeftColumn .commentSection .comments .itemContainer .commentForm .profilePicture{
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.watchLeftColumn .commentSection .header .commentForm textarea,
.itemContainer .commentForm textarea{
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #111;
    resize: none;
}

.itemContainer .commentForm textarea{
    height: 30px;

}

.watchLeftColumn .commentSection .header .commentForm .postComment,
.watchLeftColumn .commentSection .comments .itemContainer .commentForm .postComment,
.watchLeftColumn .commentSection .comments .itemContainer .commentForm .cancelComment{
    height: 36px;
    background-color: #2692e6;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 0 15px;
    border-radius: 2px;
}

.watchLeftColumn .commentSection .comments .itemContainer{
    margin-bottom: 16px;
}

.watchLeftColumn .commentSection .comments .itemContainer .comment{
    display: flex;
}

.watchLeftColumn .commentSection .comments .itemContainer .comment .mainContainer .commentHeader{
    margin-bottom: 2px;
}

.watchLeftColumn .commentSection .comments .itemContainer .comment .mainContainer .commentHeader .username{
    margin-right: 8px;
    color: #111;
    font-size: 13px;
    font-weight: 500;
}

.watchLeftColumn .commentSection .comments .itemContainer .controls{
    margin-left: 64px;
}

.watchLeftColumn .commentSection .comments .itemContainer .controls button,
.watchLeftColumn .commentSection .comments .itemContainer .controls .likesCount{
    height: 32px;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: 500;
    color: rgba(17,17,17,0.6);
}

.watchLeftColumn .commentSection .comments .itemContainer .controls button{
    cursor: pointer;
}

.watchLeftColumn .commentSection .comments .itemContainer .controls button img{
    height: 16px;
}

.watchLeftColumn .commentSection .comments .itemContainer .controls .likesCount{
    margin: 0 5px;
}

.watchLeftColumn .commentSection .comments .itemContainer .commentForm .profilePicture{
    width: 30px;
    height: 30px;
}

.watchLeftColumn .commentSection .comments .itemContainer .commentForm .cancelComment{
    background-color: transparent;
    color: rgba(17,17,17,0.6);
}

.watchLeftColumn .commentSection .comments .itemContainer .commentForm .cancelComment:hover{
    color: #000;
}

.watchLeftColumn .commentSection .comments .itemContainer .repliesSection{
    padding-left: 64px;
    margin-top: 16px;
}

.watchLeftColumn .commentSection .comments .itemContainer .viewReplies{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.watchLeftColumn .commentSection .header .commentCount{
    margin-bottom: 24px;
}

.watchLeftColumn .commentSection .comments .itemContainer .comment .mainContainer .commentHeader .timestamp{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.watchLeftColumn .commentSection .comments .itemContainer .comment .mainContainer .body{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.suggestions{
    max-width: 425px;
    flex-grow: 1;
    height: 100%;
    padding-left: 24px;
}

.suggestions .videoGrid .videoGridItem .thumbnail{
    margin-right: 8px;

}

.suggestions .videoGrid .videoGridItem .details{
    padding-right: 0;
    flex: 1;
}